name: Example for dev/prod

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Use Dev API Key
        run: echo ${{ secrets.DEV_API_KEY }}

  deploy:
    runs-on: ubuntu-latest
    environment: production
    needs: build
    if: github.ref == 'refs/heads/main' && success()
    steps:
      - name: Use Prod API Key
        run: echo ${{ secrets.PROD_API_KEY }}
